* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
*:focus {
  outline: 2px solid coral;
}
iframe {
  border: 1px solid grey;
  width: 100%;
  padding: 20px;
}
.row {
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
  display: flex;
}
button {
  flex: 1;
}
.is-hidden {
  display: none;
  visibility: hidden;
}
